body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: left;
}
.container input {margin: 15px 0;}
.container button {margin: 0 5px;}
.container .hide {display:none;}